/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.wrapper {
    display: grid;
    grid-template:
        "status" 30px
        "productivityChart" 200px
        "doughnutTitle" 30px
        "doughnutContainer" 150px
        "barHourlyChart" 200px
        "barCategoryChart" auto / auto;
    overflow: hidden;
    align-items: center;
    align-content: center;
    background-color: black;
    font: white;
}

.status {
    grid-area: status;
    font-size: 15px;
    color: white;
}

.productivityChart {
    grid-area: productivityChart;
    width: 100%;
    max-width: 284px;
    height: 100%;
    max-height: 200px;
}

.doughnutTitle {
    grid-area: doughnutTitle;
    font-size: 15px;
    color: white;
}

.doughnutContainer {
    grid-area: doughnutContainer;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    position: relative;
}

.doughnutChart {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
}

.score {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px; /* Adjust based on your requirements */
    font-weight: bold;
    color: white; /* Adjust based on your requirements */
}

.barHourlyChart {
    grid-area: barHourlyChart;
    width: 100%;
    max-width: 284px;
    height: 100%;
    max-height: 200px;
}

.barCategoryChart {
    grid-area: barCategoryChart;
    width: 100%;
    max-width: 284px;
    height: 100%;
    /* min-height will distort the view here. */
    max-height: 800px;

}